<div class="container_12">
  <div class="grid_12">
    <!--<div class="slider-relative">
      <div class="slider-block">
        <div>
          <ul class="bxslider">
            <li><img src="../../../../assets/images/saree1.jpg" alt="" height="400" width="1024"></li>
            <li><img src="../../../../assets/images/saree3.jpg" alt="" height="400" width="1024"></li>
            <li><img src="../../../../assets/images/saree4.jpg" alt="" height="400" width="1024"></li>
          </ul>
        </div>
      </div>
    </div>-->
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../../../../assets/images/saree1.jpg" alt="Random first slide" height="400" width="1200">
        <!--<div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>-->
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../../../assets/images/saree3.jpg" alt="Random second slide" height="400" width="1200">
        <!--<div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>-->
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../../../assets/images/saree4.jpg" alt="Random third slide" height="400" width="1200">
        <!--<div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>-->
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="clear"></div>

<top-arrival></top-arrival>
<home-tab></home-tab>
<div class="clear"></div>


</div>
<!-- Slider Starts -->
<!-- Slider Ends -->
