<div class="container_12">
  <div class="grid_9">
    <h3>Stay in Touch</h3>
    <div class="map">
      <figure class="img_inner fleft">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=203713593458754817008.0004ee93021186694bc6a&amp;ie=UTF8&amp;t=m&amp;ll=28.570813,77.326112&amp;spn=0.013191,0.018282&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=203713593458754817008.0004ee93021186694bc6a&amp;ie=UTF8&amp;t=m&amp;ll=28.570813,77.326112&amp;spn=0.013191,0.018282&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">28.551957, 77.388954</a> in a larger map</small>
      </figure>
      <address>
        <dl>
          <dt>
            8901 Marmora Road,<br>
            Glasgow, D04 89GR.
          </dt>
          <dd><span>Freephone:</span>+1 800 559 6580</dd>
          <dd><span>Telephone:</span>+1 800 603 6035</dd>
          <dd><span>FAX:</span>+1 800 889 9898</dd>
          <dd>E-mail: <a href="#" class="link-1">mail@demolink.org</a></dd>
        </dl>
      </address>
      <address class="mb0">
        <dl>
          <dt>
            9870 St Vincent Place,<br>
            Glasgow, DC 45 Fr 45.
          </dt>
          <dd><span>Freephone:</span>+1 800 559 6580</dd>
          <dd><span>Telephone:</span>+1 800 603 6035</dd>
          <dd><span>FAX:</span>+1 800 889 9898</dd>
          <dd>E-mail: <a href="#" class="link-1">mail@demolink.org</a></dd>
        </dl>
      </address>
    </div>
  </div>
  <div class="grid_3">
    <h3>Contact Us</h3>
      <form novalidate (ngSubmit)="onSubmit(contact)" [formGroup]="contact" id="form">
      <div class="success_wrapper">
        <div class="success">Contact form submitted!<br>
          <strong>We will be in touch soon.</strong> </div></div>
      <fieldset>
        <label class="name">
          <input type="text" placeholder="Your full name" formControlName="name">
          <br class="clear">
          <span class="error error-empty" *ngIf="contact.get('name').hasError('required') && contact.get('name').touched">*This field is required.</span>
        </label>
        <label class="email">
          <input type="text" placeholder="Email" formControlName="email">
          <br class="clear">
          <!--<span class="error error-empty"></span>-->
          <span class="error error-empty"  *ngIf="contact.get('email').hasError('required') && contact.get('email').touched">*This field is required.</span>
          <span class="error error-empty"  *ngIf="contact.get('email').hasError('pattern') && contact.get('email').touched">*This is not a valid email address.</span> </label>
        <label class="subject">
          <input type="text" placeholder="Subject" formControlName="subject">
          <br class="clear">
          <span class="error error-empty" *ngIf="contact.get('subject').hasError('required') && contact.get('subject').touched">*This field is required.</span> </label>
        <label class="message">
          <textarea formControlName="message" placeholder="Message">Message</textarea>
          <br class="clear">
          <!--<span class="error">*The message is too short.</span> -->
          <span class="error error-empty" *ngIf="contact.get('message').hasError('required') && contact.get('message').touched">*This field is required.</span>
          <span class="error error-empty" *ngIf="contact.get('message').hasError('minlength') && contact.get('message').touched">*The message is too short.</span>
        </label>
        <div class="clear"></div>
        <div class="btns">
          <a data-type="reset" class="btn">Clear</a>
          <div class="none"></div>
          <button type="submit" class="btn mybtn" [disabled]="contact.invalid">Send</button>
          <div class="clear"></div>
        </div></fieldset></form>
  </div>
  <div class="clear"></div>
</div>
